<app-nav></app-nav>
<app-products></app-products>

<!-- <form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <app-img (loaded)="onLoaded()" img="from app-component"></app-img>
  </div>


  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
  <button type="button">Ingresar</button>
</form> -->